{
    "database":{
        "user":"postgres",
        "host":"localhost",
        "database":"",
        "password":"",
        "port":5432,
        "engine":"mysql",
        "port":3000
    },
    "testing_mail":{
        "production":true,
        "host":"smtp.gmail.com",
        "secure":true,
        "port":465,
        "auth":{
            "user":"zulfikralahmudin@gmail.com",
            "pass":""
        }
    }
}
